{% extends 'base.html' %}
{% load static %}

{% block title %} InviteInStyle {% endblock %}

{% block content %}
    <!-- Page Wrapper -->
    <div id="page-wrapper">

				
        <!-- Main -->
        <article id="main">
            <header>
                <h2>How it works</h2>
                <p>Get it done in just a few clicks.Be the master of your event!</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">

                    <h3>How should I do it step by step?</h3>
                    <p>Log in, choose your model, make it yours with personal pictures and texts,
                        choose your price plan and then send the link!
                        Keep track of the expenses with your own event planner section and check your RSPV list,
                        updated list in the dedicated section for confirmations AND lots more.</p>

                    <p>Big or small your event should be perfect.So, in any case we got you covered.
                        Either a single invite to be sent to as many you need or a group invite to be sent to
                        all,you will have the same functionalities to make you event unique.</p>

                    <hr/>

                    <h3>What do I get by creating an account and how much it costs?</h3>
                    <h4>Available price plans are:</h4>
                    <ul class="features">
                        <li class="icon fa-heart">
                            <h3>0.50 $/per invite</h3>
                            <p>Individual link for each invite, unlimited number of invites and access to your event
                                planner.</p>
                        </li>
                        <li class="icon fa-heart">
                            <h3>29.99 $/per group invite</h3>
                            <p>Unlimited number of invites, general link and access to your invite planner </p>
                        </li>
                    </ul>
                    <p>With either of the packages you can personalize your invite as you wish and in the same time you
                        get a countdown for the event, RSVP list management and names displayed in the invite for your
                        guests.</p>

                    <p>You can modify at any moment your invite for updates, check the statistics (confirmations or rain
                        checks for your invites) for each guest, distribution on social media and managing your
                        confirmation on the platform and email.</p>

                    <p>In the platform you will get access to your own event planner, usefully to manage your expenses
                        for the event, programming reminders and TO DO's . The structure of your account in the platform
                        has different sections for models to choose, event planner, invite links, after event
                        management(for uploading picture and generate digital photo album) and settings.</p>

                    <p>Creating your account is completely free.You can use the other functionalities (such as event
                        planner manager, uploading pictures and generating digital photo albums) as you wish, and you
                        choose a price plan ONLY when you generate an invite that needs to be sent.In other words , you
                        get your own digital event planner for FREE!</p>

                    <p>Go check our <a href="#menu" class="menuToggle"><span>MODELS</span></a> , choose your favorite
                        and start creating your perfect event!</p>

                </div>
            </section>
        </article>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>

                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li>
                <li>Design: <a href="#">Cristina</a></li>
            </ul>
        </footer>

    </div>



{% endblock %}