{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}Models{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <section id="three" class="wrapper style3 special" style="background-color: plum">
            <div class="inner">
                <header class="major">
                    <h2>Available models</h2>
                    <p>Choose your style and personalize it with your own pictures and details.All the models are
                        adaptable for any event. All you have to do is to decide the theme that you want for your
                        party. </p>
                </header>
                <ul class="features">
                    {% for model in models %}
                        <li style="background-image: url('{{ model.image.url }}'); background-size: cover; background-position: center; position: relative; padding: 20px; color: white;">
                            <div style="background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 0; right: 0; bottom: 0; left: 0;"></div>
                            <div class="content" style="position: relative; z-index: 1;display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 100%;">
                                <h3>{{ model.name }}</h3>
                                <p>{{ model.description }}</p>
                                <a href="{% url 'template' model.id %}" class="button fit">Show preview</a>
                            </div>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>


{% endblock %}