{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="{% static 'images/logo.svg' %}" alt="Logo" width="80" height="auto" class="d-inline-block align-text-top me-2">
      <span class="align-middle fs-5 me-4">InviteInStyle</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Concept</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cum functioneaza</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Modele
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Nunta</a></li>
            <li><a class="dropdown-item" href="#">Botez</a></li>
            <li><a class="dropdown-item" href="#">Nunta si Botez</a></li>  
            <li><a class="dropdown-item" href="#">Aniversari</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Preturi</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>